html{
    font-weight: 400;
    font-family: SansSerif;
}


header{
    font-size: 13px;
}

body {
    margin: 0;
}
h1 { margin: 150px auto; text-align: center; }


/*Navbar*/
#navbar{


    width: 100%;
    top:0;
    position: fixed;
    z-index: 1;
}

        /* ICONS */
#wrapIcon{
    background: #333333;

}
#hamb{
    background: #333333;
    color: #ffffff;
    font-size: 24px;
    padding: 0.6em;
    display: none;
    cursor: pointer;
}

#logoDex{
    display: inline-block;
}

#logoMob{

    display: none;
    position: absolute;
    padding-top: 15px;

    left:45%;
}

#shopCart{
    color: #ffffff;
    font-size: 14px;
    padding-left: -5px;
}

#searchContainer{
    display: inline-block;
   float: right;
    padding-top: 15px;


}
#searchContainerMob{

    display: none;

}
.search {
    color: #ffffff;
    font-size: 16px;
    border: black;
}

.inputField{


    width: 150px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    background-color: whitesmoke;
}



ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #333333 ;

}

ul li {
    display: inline-block;

}

ul li a {
    color:#ffffff;
    cursor: pointer;
    text-decoration: none;
    padding: 15px;
    display: block;
}

ul li:hover {
    background: #0069d9;
}

ul ul {
    position: absolute;
    min-width: 200px;
    background: #333333;
    display: none;
}

ul ul li {
    display: block;
    background: #6666;

}


ul li i {
    color: #ffffff;
    padding-left: 20px;
}



@media(max-width: 768px) {
    #hamb{
        display: inline-block;
    }
    #logoDex{
        display: none;
    }
    #logoMob{
        display: inline-block;
    }
    #searchContainer{
        display:none ;
    }
    #searchContainerMob{
        display: inline-block;
    }
    .inputField{
        width: 100px;
        font-size: 13px;
    }
    .search{
        font-size: 14px;
    }
    ul {
        display: none;

        background: #333333;
    }

    ul li {
        display: block;
        position: relative;
        zoom: 1;

    }

    ul ul {
        position: static;
        background:#333333;
    }
}


@media(max-width: 263px){

    .inputField{
        width:70px;
    }

}


.hidden{
    visibility: hidden!important;
}
.subMenu{

}
        /* Footer*/

footer {
    display: block!important;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
#footerInf{
    background-color: #333333;
    width: 100%;
    font-size: 10px;
}
#footerSup {
    background-color: #4d4d4d;
    width: 100%;

}
.fab {
    padding: 10px;
    font-size: 18px;
    width: 37px;
    text-align: center;
    text-decoration: none;

    border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}
.fa-linkedin-in {
    background-color: #007bb5;
    color: white;
}

.fa-facebook-f {
    background-color: #3B5998;
    color: white;
}

.fa-twitter {
    background-color:#55ACEE;
    color: white;
}
.fa-pinterest-p {
    background-color: #cb2027;
    color: white;
}
.fa-instagram{
    background-color: #ff33ff;
    color: white;}

.foot-icon{
    padding: 10px;
    font-size: 18px;
    width: 37px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

    }
.fa-lock{
    background-color: #33cc33;
    color: white;
}
.fa-check{
    background-color: #33cc33;
    color: white;
}
.fas:hover {
    opacity: 0.7;
}

hr{
    height: 28px;
    line-height: 28px;
    border-bottom: 1px solid #ccc;
    color: white;
    background-color: white;

    width: 50%;
    margin: auto;
}

        /* Cards*/
.heart{}
/* The overlay effect - lays on top of the container and over the image */

.maxwidht{
    width:100% ;
}
.backgroud-filter{
    background-color: #f2f2f2;
}
.margin-flter{
    margin-top: 2px;
}
.no-padding{
    padding: 0px;
    margin: 0px;
}
bold{
    font-weight: 500;
}


