
.brandList{
    text-decoration: none;
    list-style-type: none;
    background-color: #e9ecef;!important;
}
.brandItem{
    padding: 0 0 4%;
}

.firtLetter{
    left: auto;
    font-size: 120%;
    font-weight: 500;
}

.brandLink{
    color: black;
}
.brandLink:hover{
    text-underline: none;
    text-decoration: none;
    color: #4d4d4d;
}
.brandtitle{

    text-align: center;
}


.brandtitleOfficial{
text-align: center;
}

.brandtext{

}
.wrapperImage {
    text-align: center;
    width: 100%;
    height:100px;

}
.brandLogo{

    height: 75px;
        width: auto;
}

.card{
    margin-bottom: 15px!important;
}

.lineDiv{
    background-color:#333333!important;
    width: 100%!important;
}



